# admin:
#  existingSecret: grafana-admin-credentials
#    usernameKey: admin-user-grafana
#    passwordKey: admin-pass-grafana

  
adminUser: admin
adminPassword: monSuperMotDePasse


persistence:
  enabled: true
  storageClassName: gp3
  size: 10Gi
  accessModes:
    - ReadWriteOnce

datasources:
  datasources.yaml:
    api_version: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: 15s

      - name: Alert manager
        type: alertmanager
        url: http://kube-prometheus-stack-alertmanager.monitoring.svc.cluster.local:9093
        access: proxy
      
      - name : loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc.cluster.local:3100
        isDefault: false
        version: 1
        jsonData:
          maxLines: 1000

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: 'Kubernetes'
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
      - name: 'argocd'
        orgId: 1
        folder: 'ArgoCD'
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/argocd
      - name: 'security'
        orgId: 1
        folder: 'Security'
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/security

dashboards:
  default:
    kubernetes-cluster:
      gnetId: 315
      revision: 3
      datasource: Prometheus
    kubernetes-pods:
      gnetId: 6417
      revision: 1
      datasource: Prometheus
    node-exporter:
      gnetId: 1860
      revision: 31
      datasource: Prometheus

  argocd:
    argocd-dashboard:
      gnetId: 14584
      revision: 1
      datasource: Prometheus
   
  security:
    falco-dashboard:
      gnetId: 11914
      revision: 1
      datasource: Prometheus
      falco-loki-alerts:
      folder: Security
      json: |
        {
          "annotations": {
            "list": [
              {
                "builtIn": 1,
                "datasource": {
                  "type": "datasource",
                  "uid": "Loki" 
                },
                "enable": true,
                "hide": true,
                "iconColor": "rgba(0, 211, 255, 1)",
                "name": "Annotations & Alerts",
                "target": {
                  "limit": 100,
                  "matchAny": false,
                  "tags": [],
                  "type": "query"
                },
                "type": "dashboard"
              }
            ]
          },
          "panels": [
            {
              "datasource": "Loki",
              "gridPos": {
                "h": 14,
                "w": 24,
                "x": 0,
                "y": 0
              },
              "id": 1,
              "options": {
                "wrapLogMessage": true
              },
              "targets": [
                {
                  "datasource": "Loki",
                  "editorMode": "builder",
                  "expr": "{job=\"falco\"} | json | line_format \"{{.time}} [{{.priority}}] {{.rule}} by {{.container_name}}\"",
                  "labelFilters": [
                    {
                      "label": "job",
                      "op": "=",
                      "value": "falco"
                    }
                  ],
                  "refId": "A"
                }
              ],
              "title": "Alertes Falco Brutes (Loki)",
              "type": "logs"
            }
          ],
          "title": "Falco - Alertes Brutes (Loki)"
        }

sidecar:
  dashboards:
    enabled: true
  datasources:
    enabled: true

serviceMonitor:
  enabled: true
  labels:
    release: kube-prometheus-stack

plugins:
  - grafana-piechart-panel
  - grafana-clock-panel
