# Kubernetes configuration
ebs_csi_iam_role_name: "AmazonEKS_EBS_CSI_DriverRole"
helm_timeout: "5m"
gp3_iops: "3000"
gp3_throughput: "125"
set_gp3_default: false
create_encrypted_sc: false

kubernetes:
  cluster_name: eks-cluster
  kubeconfig: /home/ec2-user/.kube/config

# ArgoCD configuration
argocd:
  namespace: argocd
  version: v2.9.3
  domain: argocd.example.com
  # in the context of this project, we accept the unsecure way to define password
  admin_password: unsecure_admin_password
  git_repo:
    url: https://github.com/Titou-Onee/CloudDevOps_ecommerce.git
    name: gitops-main-repo
  bootstrap:
    enabled: true
    name: app-of-apps
    path: gitops/app-of-apps
    auto_sync: true
    self_heal: true

#Applications confiration
applications:
  monitoring:
    prometheus:
      namespace: monitoring

