# Application of the ArgoCDPolicy
apiVersion: constraints.gatekeeper.sh/v1beta1
kind: k8sArgocdPolicy
metadata:
  name: argocd-policy
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  enforcementAction : dryrun
  match:
    kinds:
      - apiGroups: ["argoproj.io"]
        kinds: ["Application"]
    excludedNamespaces:
      - kube-system
      - security
      - argocd
  parameters:
    approvedUrls:
      - "https://github.com/Titou-Onee/CloudDevOps_ecommerce.git"
      - "https://hub.docker.com/r/bitnami"
      - "https://grafana.github.io/helm-charts"
      - "https://prometheus-community.github.io/helm-charts"
      - "https://open-policy-agent.github.io/gatekeeper/charts"
      - "https://falcosecurity.github.io/charts"
      - "https://bitnami-labs.github.io/sealed-secrets"
