# Fichiers Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/

# Fichiers de configuration locaux
*.local
.env
.env.local

# Fichiers Kubernetes
kubeconfig
*.kubeconfig

# Logs
*.log

# Fichiers temporaires
*.tmp
*.swp
*.swo
*~
.DS_Store


# Backups
backup/
*.backup
*.bak

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.crash
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl