# Create and apply projects manifests
- name: Create manifests
  ansible.builtin.template:
    src: projects.yaml.j2
    dest: "/tmp/argocd-projects-{{ inventory_hostname }}.yaml"
  delegate_to: localhost

- name: Apply manifests in EKS cluster
  kubernetes.core.k8s:
    definition: "{{ lookup('file', '/tmp/argocd-projects-' + inventory_hostname + '.yaml') }}"
    kubeconfig: "{{ kubeconfig_path }}"
    state: present