# Create argocd projects for app isolation and security
argocd_projects_namespace: argocd


argocd_projects_list:
  - name: security-project
    description: Project for Gatekeeper, Falco and PSS policies
    source_repos:
      - 'https://github.com/Titou-Onee/CloudDevOps_ecommerce.git'
      - 'https://open-policy-agent.github.io/gatekeeper/charts'
      - 'https://falcosecurity.github.io/charts'
    destinations:
      - namespace: 'gatekeeper-system'
      - namespace: 'argocd'
      - namespace: '*'

  - name: monitoring-project
    description: Project for Prometheus, Alertmanager, Grafana and Loki
    source_repos:
      - 'https://github.com/Titou-Onee/CloudDevOps_ecommerce.git'
      - 'https://grafana.github.io/helm-charts'
      - 'https://prometheus-community.github.io/helm-charts'
    destinations:
      - namespace: 'monitoring'
      - namespace: 'kube-system'

  - name: ecommerce-project
    description: Project for the application "e-commerce"
    source_repos:
      - 'https://github.com/Titou-Onee/CloudDevOps_ecommerce.git'
      - 'https://hub.docker.com/r/bitnami'

    destinations:
      - namespace: 'ecommerce'

  - name: system-project
    description: Project for the deployment of all the tools (Bootstrap App).
    source_repos:
      - 'https://github.com/Titou-Onee/CloudDevOps_ecommerce.git'
    destinations:
      - namespace: 'argocd'