# Prometheus manifest using helm and value repository
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  labels:
    app.kubernetes.io/name: monitoring-prometheus
    app.kubernetes.io/component: monitoring
spec:
  project: monitoring-project
  ignoreDifferences:
    - group: argoproj.io
      kind: Application
      jsonPointers:
        - /metadata
        - /status 
    - group: monitoring.coreos.com
      kind: Prometheus
      jqPathExpressions:
        - .status
    - group: monitoring.coreos.com
      kind: ServiceMonitor
    - group: monitoring.coreos.com
      kind: PodMonitor
  
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 55.5.0
      helm:
        releaseName: kube-prometheus-stack
        valueFiles:
          - $values/gitops/values/values-prometheus.yml
  
    - repoURL: https://github.com/Titou-Onee/CloudDevOps_ecommerce.git
      targetRevision: master
      ref: values
  
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

# ajouter description