# manifest scan for k8s and gitops
# Checkov manifest scan
name: k8s security
on:
  push:
    branches:
        - dev
        - master
    paths:
        - 'gitops/**'
        - 'kubernetes/**'


jobs:
  k8s_security:
    name: kubernetes-security
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Scan Kubernetes manifests with Checkov
      uses: bridgecrewio/checkov-action@v12
      with:
        directory: |
          kubernetes/manifests
        framework: kubernetes
        output_format: cli
        output_file_path: checkov-app-results.txt
        skip_results_upload: true
      continue-on-error: true

    - name: Checkov Scan - Kubernetes Manifests
      id: k8s_scan
      uses: bridgecrewio/checkov-action@v12
      with:
        directory: gitops
        framework: kubernetes
        output_format: cli
        output_file_path: checkov-gitops-results.txt
        skip_results_upload: true
      continue-on-error: true

    - name: Upload report
      uses: actions/upload-artifact@v4
      with:
        name: checkov-report
        path: |
          checkov-gitops-results.txt
          checkov-app-results.txt
        retention-days: 1
