# Main workflow 
# Launch CI/CD for every yml changes or pull requests
# Code-quality
# Code security scan
# Code containerisation and upload
# Code deployment with kustomize
name: Main workflow
on:
  push:
      branches:
        - master
        - dev
      paths:
        - 'Docker/**'

  pull_request:

jobs:
  # Black formatting and flake8 linting
  code_quality:
    uses: titou-onee/clouddevops_ecommerce/.github/workflows/code-quality.yml@master

  # Sonarqube and trivy fs scan ; trivy manifest scan ; build of the docker image, scan with trivy image and upload as an artifact with cosign
  call_security_checks:
    needs: code_quality
    uses: titou-onee/clouddevops_ecommerce/.github/workflows/security.yml@master
    with:
      DOCKER_IMAGE: titouonee/clouddevops_ecommerce
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
      COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY}} 

  # Verify signed image artifact, tag and push on DockerHub
  call_release:
    needs: call_security_checks
    uses: titou-onee/clouddevops_ecommerce/.github/workflows/release.yml@master
    with:
      RELEASE_TAG: latest
      DEFAULT_SHA:  ${{ github.sha }}
      DOCKER_IMAGE: titouonee/clouddevops_ecommerce
      RUN_ID: ${{ needs.call_security_checks.outputs.run_id }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY}}

  # Kustomize the kubernetes manifests to trigger ArgoCD
  call_deploy:
    needs: call_release
    uses: titou-onee/clouddevops_ecommerce/.github/workflows/deploy.yml@master
    with: 
      DEPLOY_TAG: ${{ github.sha }}
      DOCKER_IMAGE: titouonee/clouddevops_ecommerce